body {
  background: yellow;
}
h1 {
  color: purple;
  text-align: right;
}
.facts li {
  color: blue
  font-weight:bold;
}
.banner {
  max-width: 49%;
}

li.urgent {
  color: red;
}
.lies {
  border: 3px solid red;
}
@media only screen and (max-width: 600px) {

  body {
    background: blue;
  }
  .banner {
    max-width: 100%;
  }
}
